<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503576786444-f1bi1bceamddgiqlfignim0tcug292t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503576786444-f1bi1bceamddgiqlfignim0tcug292t8</string>
	<key>API_KEY</key>
	<string>AIzaSyDM-OyXppH69WRypFMIps5sTmUvrNxlqGs</string>
	<key>GCM_SENDER_ID</key>
	<string>503576786444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softRide</string>
	<key>PROJECT_ID</key>
	<string>softride-d144d</string>
	<key>STORAGE_BUCKET</key>
	<string>softride-d144d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503576786444:ios:d551305a8a2f491de02029</string>
</dict>
</plist>